@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

body {
  background-color: #333;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
}

.body2 {
  background-color: #111;
  font-family: Helvetica;
  letter-spacing: 2px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}

.kata{
	color: white;
	margin-left:550px; 
	margin-top:-400px; 
	font-size: 20px;
}

.buttonnn{
	border-radius: 5px;
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
}

/* all accordion related css below */

.accordion {
  background-color: #ededed;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 1px;
  margin-top: 20px;
  width: 40%;

  p {
    padding-top: 20px;
  }

  h4 {
    color: #333;
    display: inline;
    font-size: 20px;
    margin: 0;
  }
  .accordion-title {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active .accordion-arrow {
      transform: rotate(0); 
    }
  }

  .accordion-text {
    display: none;
    color: #333;
  }
}