.KotakSubmit{
	margin-left: 250px; 
	font-size: 22px; 
	font: Garamond;
}

.KotakSubmit{
	margin-left: 380px; 
	font-size: 22px; 
	font: Garamond;
}

.GreetingsHello{
	margin-top: 200px; 
	margin-left: 490px; 
	font: Garamond; 
	font-size : 50px
}

.GreetingsHello{
	margin-left: 550px; 
	font: Garamond; 
	font-size : 30px
}
