@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Handlee);

body {
  background-color: #F9F9D5;
  font-family: 'Tangerine', cursive;
  letter-spacing: 2px;
}

.nama{
	font-size:100px;
	margin-top:-10px;
}
.body2 {
  background-color: #111;
  font-family: Helvetica;
  letter-spacing: 2px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}

.subss{
	font-size:100px;
	font-family: 'Tangerine', cursive;
	margin-top:80px;
}

.kata1{
	color: white;
	font-size: 20px;
	margin-left: 1000px;
}

.parr{
	width:1000px;
	font-family:'Handlee', cursive;
	font-size:30px;
	margin-top:-50px;
	
}

.haa{
	font-family:'Handlee', cursive;
	font-size:25px;
	
}

.buttonnn{
	border-radius: 5px;
	font-size: 50px;
	margin-left:1200px;
	font-family:'Handlee', cursive;
	background-color:#B96868;
	color:white;
	margin-top:100px;
}

.buttonClicked{
	animation:blinkingText 0.5s infinite;
}
@keyframes blinkingText{
	0%{     color: yellow;    }
	49%{    color: transparent; }
	50%{    color: transparent; }
	99%{    color: yellow;  }
	100%{   color: yellow;    }
}


.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(loading.gif) center no-repeat #fff;
}

/* all accordion related css below */

.accordion {
  background-color: #ededed;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 1px;
  margin-top: 20px;
  width: 40%;

  p {
    padding-top: 20px;
  }

  h4 {
    color: #333;
    display: inline;
    font-size: 20px;
    margin: 0;
  }
  .accordion-title {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active .accordion-arrow {
      transform: rotate(0); 
    }
  }

  .accordion-text {
    display: none;
    color: #333;
  }
}