{% load staticfiles %}
{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title> Greetings! </title>
		<link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<script type="text/javascript">
			$(window).load(function() {
				$(".loader").fadeOut(0);
			});
		</script>
		<style>
		.kata1{
			font-size: 50px;
		}
		</style>
	</head>
	
	<body style="background-color:#5B869B">
		<div class="loader"></div>
		<center>
			<h1  style="font:Impact; font-size:50px; margin-top:100px; color:white"><b> REKOMENDASI BUKU</b></h1>
			
			
			<div>
			<p class = "favLoc" style="font-size:30px;font:Impact"><b style="color:white;">GENRE :</b>
			<button id="button1" style="margin-top:10px; background-color:white" class="buttonnn buttons" value="medicine">Medicine</button>
			<button id="button1" style="margin-top:10px; background-color:white" class="buttonnn buttons" value="computer">Computer</button>
			</p>
			<p class = "favLoc" style="color:white;font-size:30px;font:Impact"><b>LIKES
				<input id = "counterButton" style="font-size:30px;color:#5B869B;background-color:white"class="btn btn-circle btn-xl" type="button" value="0" ></b>
			</p>
			</div>
			<div style="margin-top:10px">
				<div class="main-div">
					<div class="container mx-auto d-block">
						<table class="table table-bordered" style="background-color:white;" id ="table_book">
							<thead>
								<tr>	
									<th style="width: 20%">Cover</th>
									<th style="width: 30%">Title</th>
									<th style="width: 30%">Author</th>
									<th style="width: 20%">Publisher</th>
									<th>See Details</th>
									<th>Likes</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</center>
		<footer class="page-footer font-small blue" style="background-color:white">
			<div class="footer-copyright text-center py-3" style="font-size:20px">© 2018 Copyright:
				<a href="web_story6/profile/"> Angginistanti Fairuz Hanun</a>
			</div>
		</footer>

	</body>
</html>

