{% load staticfiles %}
{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title> Greetings! </title>
		<link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript">
		$(window).load(function() {
			$(".loader").fadeOut(10);
		});
	</script>
	<body>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
		<div class="loader"></div>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<div class = "ColorText" >
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{% static 'js/script.js' %}"></script>
			<img src = "https://lh3.google.com/u/0/d/1gG-S2-qZfDb-pvNrZVAaF11_RKfXfLw3=w1366-h657-iv1" style="margin-top:50px; margin-left:150px;width:350px; height: 450px;">
			<div class="kata">
				<p style="font-size:50px; font-family: Garamond"> <em>Halooo! </em></p>
				<p >Angginistanti Fairuz Hanun</p>
				<p> Anggis - 19 tahun </p>
				<p> Lahir di Tanjung Redeb, 25 September 1999 </p>
				<p> Anak ke-2 dari 2 bersaudara </p>
				<p> Mahasiswi dari Program Studi Sistem Informasi, Fakultas Ilmu Komputer, Universitas Indonesia </p>
				<p> Memiliki hobi menulis, dan mendengar musik klasik </p>
				<button onclick="location.href='/web_story6/status/'"  class="buttonnn" type="button">Halaman Utama</button>
				<button onclick="location.href='/web_story6/books/'"  class="buttonnn" type="button"> Rekomendasi Buku</button>
				<button id = "apayaakepo" class="buttonnn" >Ubah Tema</button>
			</div>
		</div>
		
		<div id="main">
		<div class="accordion">
				<div class="accordion-title">
					<h4 class="secondary">Aktivitas Saat Ini</h4>
				</div>
				<div class="accordion-text">
					<p> Mengerjakan Story 8 PPW</p>
					<p> Mengerjakan TP 2 SDA</p>
					<p> Mengerjakan Adbis</p>
				</div>
			</div>
			<div class="accordion">
				<div class="accordion-title">
					<h4 class="secondary">Pengalaman Organisasi atau Kepanitiaan</h4>
				</div>
			<div class="accordion-text">
				<table>
					<tr>
						<td>2018 - kini </td>
						<td>Staff Dept Pengmas BEM Fasilkom UI 2018</td>
					</tr>
					<tr>
						<td>2018 - kini </td>
						<td>Staff Biro KKM FUKI 2018 </td>
					</tr>
					<tr>
						<td>2018 - kini</td>
						<td>Wakil Penanggung Jawab Bidang Acara SIWAK - NG 2018</td>
					</tr>
					<tr>
						<td>2013 - kini</td>
						<td>Staff Medis PMB 2018</td>
					</tr>
				</table>
			</div>
			</div>
			<div class="accordion">
				<div class="accordion-title">
					<h4 class="secondary">Prestasi</h4>
				</div>
				<div class="accordion-text">
					<p> Antologi Puisi : Sajakin Aja ke - 3 </p>
					<a href = "https://www.wattpad.com/story/72739872-world-of-words"> Penulis Dalam Wattpad </a>
				</div>
			</div>
		</div>
	</body>
</html>

