{% load staticfiles %}
{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title> Greetings! </title>
		<link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript">
		$(window).load(function() {
			$(".loader").fadeOut(10);
		});
	</script>
	<style>
	.greetings_layout{
		margin-top: 100px;  
		font: Garamond; 
		font-size : 40px;
		color: white;
	}
	
	.giving_layout{
		margin-top: 0px;  
		font: Garamond; 
		font-size : 35px;
		color: white;
	}
	
	.profil_layout{
		margin-top: 0px;  
		font: Garamond; 
		font-size : 35px;;
		border-radius: 5px;
		font-size: 30px;
	}
	
	
	
	
	</style>
	<body >
		<div class="loader"></div>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<center>
			<h1 class= "greetings_layout"> <em>Hello, Apa kabar? </em> </h1>
			<h2 class= "giving_layout"> <em>Masukan status:</em> </h2>
			<button onclick="location.href='/web_story6/profile/'"   class="profil_layout" type="button">Halaman Profil</button>
		
		{% block content %}
		<form id="form" method="POST" action="{% url 'web_story6:status' %}">
            {% csrf_token %}
            {{ form }}
            <br>
			<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" style= "font-size: 22px; font: Garamond width:10px" value="Submit">
        </form>
		
		
		<div class="main-div">
			<div class="container mx-auto d-block">
				{% if todo %}
					<table class="table table-striped">
						<thead>
							<tr>
							  <th scope="col"> Status </th>
							  <th scope="col"> Waktu </th>
							</tr>
						</thead>
						<tbody>
							{% for data in todo %}
								<tr>
									<td scope="row">{{ data.status_message }}</td>
									<td scope="row">{{ data.created_date }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<h1 class="text-main" style = "margin-left: 350px; margin-top: 200px;font-family: Garamond; font-size: 40px;">Tidak Ada Status</h1>
				{% endif %}
			</div>
		</div>
		</center>
	{% endblock content %}
	</body>
</html>