{% load staticfiles %}
{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title> Greetings! </title>
		<link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript">
		$(window).load(function() {
			$(".loader").fadeOut(1000);
		});
	</script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'stylee.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	
	<body>
		
		<div class="loader"></div>
		
		<button onclick="location.href='/subscribe/sub'"  class="buttonnn" type="button">Subscribe</button>
		<center style="margin-top:-80px">
			<img src = "https://lh3.google.com/u/0/d/1gG-S2-qZfDb-pvNrZVAaF11_RKfXfLw3=w1366-h657-iv1" style="border-radius:50%;width:400px; height: 400px;">
			<p class="nama">Angginistanti Fairuz Hanun</p>
			<p class="parr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel vestibulum tellus. Proin non pretium felis, sit amet sollicitudin dolor. Donec tempus commodo massa sollicitudin placerat. In eu placerat ipsum. Duis blandit accumsan eros, in egestas ex ultricies et. Vestibulum et nibh non dolor auctor pharetra nec id ipsum. Duis id tellus vel dolor consequat dignissim tincidunt vel erat.

				Suspendisse ultricies, erat quis feugiat pretium, eros lorem lacinia justo, vel euismod nibh enim rutrum tellus. Suspendisse ut tortor finibus, euismod tortor quis, commodo ipsum. Vestibulum at mollis purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur at mi erat. Integer vel tempus nisl. Sed condimentum aliquet varius. Morbi dignissim velit mi, eget maximus odio interdum quis.

				Aliquam ac orci nec ipsum congue convallis. Sed sapien neque, varius ut tortor quis, aliquet cursus tortor. Aenean dapibus, quam eu porttitor blandit, augue tellus congue quam, sed consequat magna arcu sit amet leo. Ut purus nibh, consequat sed eros vitae, rhoncus posuere purus. Fusce ultricies turpis vel sagittis ultricies. Praesent nec egestas dolor, et ullamcorper lectus. Donec quis nisi et diam egestas posuere. Vestibulum interdum sapien non egestas porttitor. Cras libero odio, placerat non molestie placerat, maximus ut dolor. Quisque eu quam nec sem vulputate lobortis. Vivamus diam nisi, ornare sed eros in, lacinia tincidunt mauris. Nam nibh mi, pharetra at dapibus a, rutrum vel metus. Morbi ultricies dui ac turpis pretium tempor. Sed et maximus tortor. Aenean rhoncus aliquet efficitur.			</p>
		</center>
		
	</body>
</html>

