{% load static %}
<html>
<head>
	<title> Greetings! </title>
	<link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'ajax.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'website.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'stylee.css' %}">
	<script type="text/javascript">
		$(window).load(function() {
			$(".loader").fadeOut(1000);
		});
		
		
	
 </script>

	</script>
</head>

<body>
  <div class="container">
    <div class="mt-5">
        <center><p class="subss">Subscribe Form</p></center>
    </div>


    <div class="mt-3" id="msg_response"></div>
    <!-- create user response -->
        
    <form class="form-group" method="POST" id="subscribe_form" onsubmit="return false;">
        {% csrf_token %} 
        {% for field in form %}
        <div class="form-group haa">
            <b>{{ field.label }} : {{ field }}</b>
        </div>
        {% endfor %}

        <div class="mt-4" id="msg_validate"></div>
      
      <div><center>
        <input id="subscribe_button" style="font-size:30px;font-family:'Handlee', cursive" type="submit" value="Subscribe" class="btn btn-warning" disabled onclick="subscribe()"/>
      </center></div>
    
    </form>
	
	<center><p class="subss">Subscriber List</p></center>
	
	<div class="main-div">
			<div class="container mx-auto d-block">
				{% if data %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th style="font-size:20px;font-family:'Handlee',cursive;" >Name</th>
				<th style="font-size:20px;font-family:'Handlee',cursive" >Email</th>
				<th style="font-size:20px;font-family:'Handlee',cursive" >Delete Button</th
							</tr>
						</thead>
						<tbody>
							{% for todo in data %}
								<tr>
									<td scope="row" style="font-size:20px;font-family:'Handlee',cursive">{{ todo.nama }}</td>
									<td scope="row" style="font-size:20px;font-family:'Handlee',cursive">{{ todo.email }}</td>
									<td scope="row" style="font-size:20px;font-family:'Handlee',cursive"><button   type="button">Delete</button></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<h1 class="text-main" style = "margin-left: 350px; margin-top: 200px;font-family: Garamond; font-size: 40px;">Tidak Ada Status</h1>
				{% endif %}
			</div>
	
	
  </div>
</body>
</html>